.wrap {
    position: relative;
    height: 20px;
    display: flex;
    flex-direction: column;
}

.wrap__span {
    position: relative;
    display: inline-block;
    height: fit-content;
}

.span__letter,
.wrap__text {
    display: inline-block;
    text-transform: uppercase;
    transform-style: preserve-3d;
}