.text__wrap {
    width: fit-content;
    user-select: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;

    will-change: transform;
    transition: transform 500ms ease;
    /* overflow: hidden; */
    border: solid 1px white;

}

.text__wrap:hover>div:nth-of-type(1) {
    transform: translateY(-100%);
    color: red
}

.text__wrap:hover>div:nth-of-type(2) {
    transform: translateY(-100%);
    color: blue
}