  /* @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700;900&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');
  /* @import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); */

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {

    html,
    body {
      font-family: "Gabarito", system-ui, sans-serif;
      background-color: #0a0a0a;
      color: #fafafa;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      @apply appearance-none;
    }


  }

  @layer components {

    /* 
    --------------------
    UTILS START 
    --------------------
    */

    .bento-grid {
      @apply lg:grid lg:gap-5 md:gap-2 p-5 pl-20 lg:grid-cols-8 lg:grid-rows-6 lg:w-2/3 lg:h-5/6 sm:w-5/6 sm:h-5/6 md:flex md:flex-col md:justify-center md:items-center
    }

    .bento-card {
      @apply w-full md:h-full sm:h-fit p-2 border border-neutral-800
    }

    /* 
    --------------------
    UTILS END 
    --------------------
    */

    /* 
    --------------------
    MAIN SIDE NAV START 
    --------------------
    */
    .side-main-nav {
      @apply fixed top-0 left-0 z-30 h-screen w-36 pt-14 flex flex-col gap-2 p-3 border-r border-neutral-800 bg-neutral-950 text-right text-xs font-bold overflow-hidden
    }

    .side-main-nav-wrap {
      @apply flex flex-col gap-2 list-none p-2
    }

    .side-main-nav-category {
      @apply px-2 text-neutral-500
    }

    .side-main-nav-links-wrap {
      @apply flex flex-col justify-center text-xs tracking-wider font-bold uppercase p-1 text-right border-t border-neutral-800
    }

    .side-main-nav-link-default {
      @apply text-neutral-200 my-1 border-b border-neutral-800 hover:bg-neutral-50 hover:text-neutral-950
    }

    .side-main-nav-link-active {
      @apply text-neutral-950 my-1 border-b border-neutral-800 bg-amber-200
    }

    /* 
    --------------------
    MAIN SIDE NAV END 
    --------------------
    */

    /* 
    ---------------------
    MAGNETIC BUTTON PAGE STYLE START 
    ---------------------
    */

    .magnetic-btn-bento {
      @apply lg:grid lg:gap-3 md:gap-2 p-5 pl-32 lg:grid-cols-8 lg:grid-rows-6 lg:w-2/3 lg:h-5/6 sm:w-5/6 sm:h-5/6 md:flex md:flex-col md:justify-center md:items-center
    }

    .magnetic-btn-bento-card-basic {
      @apply col-start-1 col-span-2 row-start-1 row-span-2 flex flex-col justify-evenly items-center
    }

    .magnetic-btn-bento-card-rect {
      @apply flex gap-2 justify-evenly items-center col-start-1 col-span-8 row-start-3 row-span-2
    }

    .magnetic-btn-bento-card-circ {
      @apply flex gap-2 justify-evenly items-center col-start-3 col-span-6 row-start-1 row-span-2
    }

    .magnetic-btn-bento-card-about {
      @apply flex flex-col gap-2 justify-evenly items-center col-start-6 col-span-3 row-start-5 row-span-2 text-teal-400 font-bold text-2xl
    }

    .magnetic-btn-bento-card-wip {
      @apply flex gap-2 justify-evenly items-center col-start-1 col-span-5 row-start-5 row-span-2
    }

    .magnetic-btn-rect-area {
      @apply md:w-36 md:h-28 sm:w-12 sm:h-8 relative flex justify-center items-center rounded-lg border border-dashed border-neutral-800
    }

    .magnetic-btn-rect-btn {
      @apply w-28 h-14 rounded-lg
    }

    /* 
    ---------------------
    MAGNETIC BUTTON PAGE STYLE START
    ---------------------
    */
    /* 
    ---------------------
    TEXT SPLIT PAGE STYLE START
    ---------------------
    */

    .text-split-bento {
      @apply lg:grid lg:gap-5 md:gap-2 p-5 pl-32 lg:grid-cols-8 lg:grid-rows-6 lg:w-2/3 lg:h-5/6 sm:w-5/6 sm:h-5/6 md:flex md:flex-col md:justify-center md:items-center
    }

    .text-split-bento-card {
      @apply w-full md:h-full sm:h-fit p-4 border border-neutral-500 rounded-lg
    }

    .text-split-bento-card-content {
      @apply xl:text-6xl lg:text-5xl md:text-4xl sm:text-4xl font-bold select-none text-center
    }

    .text-split-bento-card-glitch {
      @apply text-red-500 uppercase col-start-1 col-span-4 row-start-3 row-span-4 flex flex-col gap-2 justify-center items-center
    }

    .text-split-bento-card-reverse {
      @apply text-pink-400 col-start-5 col-span-4 row-start-3 row-span-4 flex flex-col gap-2 justify-center items-center
    }

    .text-split-bento-card-translate {
      @apply col-start-1 col-span-3 row-start-1 row-span-2 flex justify-center items-center text-amber-500 font-bold xl:text-4xl lg:text-3xl md:text-4xl
    }

    .text-split-bento-card-about {
      @apply col-start-4 col-span-5 row-start-1 row-span-2 flex flex-col gap-4 justify-center items-center text-teal-400 font-bold text-2xl
    }


    /*
    -------------------
    TEXT SPLIT PAGE STYLE END 
    -------------------
    */

    /* 
    ---------------------
    CONSTELLATION PAGE STYLE START
    ---------------------
    */

    .constellation-canvas {
      @apply
    }


    /*
    -------------------
    CONSTELLATION PAGE STYLE END 
    -------------------
    */

  }

  @layer utilities {}